<template>
  <div class="shopping-textbooks">
    <div class="shopping-textbooks__1b48f63fb3a84fb48bf943b84e063177">
      <bottom-navigation- -4-up-="" -surface-color="" />
    </div>
    <div class="shopping-textbooks__7077494cf6414282ae7f11d5411e59fa"></div>
    <div class="shopping-textbooks__b98603ee0221418bb4084718b7c7244a">vše</div>
    <div class="shopping-textbooks__879630419d614e10bc466511a1bbe3af">
      Filtry
    </div>
    <div class="shopping-textbooks__d599a73cc96748dd9f591540688a05c9"></div>
    <div class="shopping-textbooks__a2492549c42049d085f4f55c6f8bb738"></div>
    <div class="shopping-textbooks__0b68a8b58b924d519979bdb99da91ddf"></div>
    <div class="shopping-textbooks__1a87b8df7cc846e98a35afbc253d77cd">
      Nejoblíbenější
    </div>
    <div class="shopping-textbooks__94d2c8c785c84cc38d7220f1f1a750db">
      nejlevnější
    </div>
    <div class="shopping-textbooks__ed899b61858148a68a5ffab34a61296c"></div>
    <icon- -search-="" -filled="" />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.shopping-textbooks {
  &__1b48f63fb3a84fb48bf943b84e063177 {
  }

  &__7077494cf6414282ae7f11d5411e59fa {
    width: 416px;
    background: #ff5e3d;
  }

  &__b98603ee0221418bb4084718b7c7244a {
    font-family: Source Sans Pro;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
  }

  &__879630419d614e10bc466511a1bbe3af {
    font-family: Source Sans Pro;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
  }

  &__d599a73cc96748dd9f591540688a05c9 {
    width: 414px;
    background: #eee;
  }

  &__a2492549c42049d085f4f55c6f8bb738 {
    width: 209px;
    background: #fff;
  }

  &__0b68a8b58b924d519979bdb99da91ddf {
    width: 209px;
    background: #fff;
  }

  &__1a87b8df7cc846e98a35afbc253d77cd {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 700;
    text-transform: titlecase;
    color: #000;
  }

  &__94d2c8c785c84cc38d7220f1f1a750db {
    font-family: Source Sans Pro;
    font-size: 14px;
    text-transform: titlecase;
    color: #000;
  }

  &__ed899b61858148a68a5ffab34a61296c {
    width: 357px;
    border-radius: 9px;
    background: #fff;
  }
}
</style>
