<template>
  <div class="home">
    <navbar style="border-bottom: 1px solid black;"></navbar>
    test {{detail}}
    <div v-show="detail.id">
      {{ detail.id }}
    </div>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src<LoginForm></LoginForm>
import { Component, Vue, Prop } from "vue-property-decorator";
import Navbar from "../components/Navbar.vue";
import { IAdC } from "../Definitionsfornetwork";
import store from "../store"
@Component({
  components: { Navbar },
})
export default class AdDetail extends Vue {
   @Prop(Object) readonly id: string | undefined;

   get detail(){
     
     if(store.state.ads[this.id!] !== undefined){
       return store.state.ads[this.id!];
     }else{
       return {};
     }
   }
}
</script>
<style>
#nav-main {
  height: 5.5rem;
}

#mainlogo {
  top: 31px;
  left: 35px;
  width: 123px;
  height: 76px;
  text-align: left;
  font: italic normal normal 59px/76px Elephant;
  letter-spacing: 0px;
  color: #ff5e3dcf;
  opacity: 1;
}
main {
  width: 100%;
  height: 100%;
  opacity: 1;
  color: white;
}
nav {
  background-color: #fff;
}
body {
  background: #ff5e3d 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}
.home {
  height: 100% !important;
}
body {
  height: 100% !important;
}
html {
  height: 100% !important;
}
</style>
