<template>
  <div>
    <navbar style="border-bottom: 1px solid black;"></navbar>
    <b-row>
      <b-col lg>
        <b-col lg style="text-align: center">
          <b-row
            ><b-col>
              <b-button pill class="arrow-wrap" to="/main"
                ><img
                  src="@/assets/arrow.svg"
                  width="80em"
                  alt="arrow"/></b-button></b-col
          ></b-row>
        </b-col>
      </b-col>

      <b-col lg> </b-col>
    </b-row>

    <b-row>
      <b-col lg> </b-col>
      <b-col lg>
        <b-row style="margin-top: 1.5em">
          <b-col class="fields" sm>
            <div class="form__group field">
              <input
                class="form__field"
                placeholder="Name"
                name="Name"
                id="name"
                v-model="name"
                required
              />
              <label for="name" style="margin:4px" class="form__label"
                >Název učebnice</label
              >
            </div>
          </b-col>
        </b-row>
        <b-row style="margin-top: 1.5em">
          <b-col class="fields" sm>
            <div class="form__group field">
              <input
                class="form__field"
                placeholder="Lokace"
                name="Lokace"
                id="location"
                v-model="location"
                required
              />
              <label for="location" style="margin:4px" class="form__label"
                >Lokace / místo předání</label
              >
            </div>
          </b-col>
        </b-row>
        <b-row style="margin-top: 1.5em">
          <b-col class="fields" sm>
            <div class="form__group field">
              <input
                class="form__field"
                placeholder="Skola"
                name="skola"
                id="school"
                v-model="school"
                required
              />
              <label for="school" style="margin:4px" class="form__label"
                >Škola</label
              >
            </div>
          </b-col>
        </b-row>
        <b-row style="margin-top: 1.5em">
          <b-col class="fields" sm>
            <div class="form__group field">
              <input
                class="form__field"
                placeholder="grade"
                name="grade"
                id="grade"
                v-model="grade"
                required
              />
              <label for="name" style="margin:4px" class="form__label"
                >Třída</label
              >
            </div>
          </b-col>
        </b-row>
        <b-row style="margin-top: 1.5em">
          <b-col class="fields" sm>
            <div class="form__group field">
              <input
                class="form__field"
                placeholder="Stav"
                name="Stav"
                id="stav"
                v-model="state"
                required
              />
              <label for="stav" style="margin:4px" class="form__label"
                >Stav učebnice</label
              >
            </div>
          </b-col>
        </b-row>
      </b-col>
      <b-col lg>
        <b-row style="margin-top: 3.6em">
          <b-col class="fields" sm>
            <b-select class="select" v-model="selectedPredmet">
              <option :key="key" v-for="(item, key) in predmety" :value="key">
                {{ item }}
              </option>
            </b-select>
          </b-col>
        </b-row>
        <b-row style="margin-top: 1.5em">
          <b-col class="fields" sm>
            <div class="form__group field">
              <input
                class="form__field"
                placeholder="cena"
                name="cena"
                id="cena"
                v-model="price"
                required
              />
              <label for="cena" style="margin:4px" class="form__label"
                >Cena v Kč</label
              >
            </div>
          </b-col>
          <b-col sm="7">
            <b-form-select
              v-model="selected"
              :options="options"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-row style="margin-top: 3.65em">
          <b-col
            ><!--<b-form-file
              multiple
              accept="image/*"
              v-model="file"
              :state="Boolean(file)"
              placeholder="Nahraj obrázek..."
              drop-placeholder="sem nahraj obrázek..."
              class="file"
            ></b-form-file
          >-->

            <vue-upload-multiple-image
              @upload-success="uploadImageSuccess"
              @before-remove="beforeRemove"
              @edit-image="editImage"
              dragText="natáhni sem myší obrázky"
              browseText="Prohledávej složky s obrázky"
              primaryText="Nahraj obrázky"
              markIsPrimaryText="Nastav jako primární"
              popupText="Tento obrázek se zobrazí jako první"
              dropText="Sem vložte soubor ..."
              multiple
            ></vue-upload-multiple-image>
          </b-col>
        </b-row>
        <b-row style="margin-top: 1.5em">
          <b-col class="fields" sm>
            <div class="">
              <label for="popis" style="margin:4px">Popis</label>
              <textarea
                name="popis"
                id="popis"
                rows="6"
                v-model="description"
                required
              ></textarea>
            </div>
          </b-col>
        </b-row>
      </b-col>
      <b-col lg> </b-col>
    </b-row>
    <b-row>
      <b-col sm style="text-align: center">
        <b-button @click="submitUpload()">Odešli</b-button>
      </b-col>
    </b-row>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import LZString from "lz-string";
import { UserApi } from "../NetworkManager";
import { IAd } from "../Definitionsfornetwork";
import Navbar from "../components/Navbar.vue";
import VueUploadMultipleImage from "vue-upload-multiple-image";
interface ImagesList {
  name: string;
  path: string;
  default: number;
  highlight: number;
  caption: string; // Optional
}
@Component({
  components: { Navbar, VueUploadMultipleImage },
})
export default class CreateAd extends Vue {
  name = "";
  selectedPredmet = 0;
  school = "";
  grade = "";
  location = "";
  predmety = [
    "Fyzika",
    "Chemie",
    "Český jazyk",
    "Chemicko-biologická praktika",
    "Dějepis",
    "Fyzikálně-matematická praktika",
    "Anglický jazyk",
    "Geologie",
    "Životní prostředí",
    "Hudební výchova",
    "Informatika",
    "Matematika",
    "Občanská výchova",
    "Tělesná výchova",
    "Výtvarná výchova",
    "Základy společenských věk",
    "Zeměpis",
    "Přírodopis",
    "Ostatní",
  ];
  imagesBlob = new FormData();
  ads = [] as IAd[];
  file = [] as File[];
  images = [] as ImagesList[];
  selected = "" as string;
  price = 0;
  description = "";
  state = "";
  options = [
    { value: "disscutable", text: "smlouvatelná" },
    { value: "static", text: "pevná" },
  ];
  uploadImageSuccess(data: FormData, index: number, files: ImagesList[]) {
    this.images = files;
    console.log(files);
  }
  beforeRemove(index: number, done: Function, files: ImagesList[]) {
    this.images = files;
    done();
  }
  editImage(form: FormData, index: number, files: ImagesList[]) {
    this.images = files;
  }

  async created() {
    if (this.$store.state.token.length === 0) {
      this.$router.push("/");
    }
  }
  async handleImages(callback: Function) {
    const images: { data: Blob; name: string }[] = [];
    for (let i = 0; this.images.length > i; i++) {
      fetch(this.images[i].path)
        .then((res) => res.blob())
        .then((bl) => {
          console.log(bl);
          images.push({ data: bl, name: this.images[i].name });
          if(this.images.length === images.length){
            callback(images);
          }
        });
    }
    
  }

  async submitUpload() {
    await this.handleImages(this.run);
  }
  async run(images: { data: Blob; name: string }[]) {
    let priceCheck,
      descriptionCheck,
      stateCheck,
      nameCheck,
      imagesCheck = false;
    let wholeCheck = true;
    if (this.name.length > 5) nameCheck = true;
    else alert("short name");

    if (this.location.length < 4) {
      alert("short location");
      wholeCheck = false;
    }
    if (this.grade.length < 2) {
      alert("short grade");
      wholeCheck = false;
    }

    if (this.price > 0) priceCheck = true;
    else alert("too small price");

    if (this.description.length > 5) descriptionCheck = true;
    else alert("short description");

    if (this.state.length > 4) stateCheck = true;
    else alert("short state description");

    if (this.images.length > 0) imagesCheck = true;
    else alert("no Images!");

    console.log(this.images.length);
    if (
      priceCheck &&
      descriptionCheck &&
      nameCheck &&
      stateCheck &&
      imagesCheck
    ) {
      await UserApi.getCreateAd(
        this.name,
        this.state,
        this.price,
        this.selected,
        this.description,
        images,
        this.predmety[this.selectedPredmet],
        this.school,
        this.grade,
        this.location
      );
    } else {
      alert("ne všechno je v pořádku");
    }
  }

}
</script>
<style lang="scss" scoped>
div {
  background-color: white;
}

$primary: #000000;
$secondary: #000000;
$white: rgb(0, 0, 0);
$gray: #000000;

.back {
  background-color: white;
}

#popis {
  width: 100%;
}
.file {
  border-radius: 0px;
  color: $white !important;
  padding: 6px;
  border: 1px solid $gray !important;
  opacity: 1;
  outline: 0;
  display: flex;
  width: 100%;
  font-size: 1.3rem;
}
.arrow-wrap {
  background-color: white;
  border-radius: 100px !important;
}
.select {
  border-radius: 0px;
  color: $white;
  padding: 2px;
  border: 1px solid $gray;
  opacity: 0.9;
  outline: 0;
  font-size: 1.3rem;
}
.form__group {
  position: relative;
  padding: 24px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  padding: 2px;
  border: 1px solid $gray;
  opacity: 0.9;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 6px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 26px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -12px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
</style>
