<template>
  <div class="home">
    <navbar></navbar>
    <router-view />
  </div>
</template>

<script lang="ts">
// @ is an alias to /src<LoginForm></LoginForm>
import { Component, Vue, Prop } from "vue-property-decorator";
import { IAdC } from "../Definitionsfornetwork";
import store from "../store";
import { routes } from "../router";
import Navbar from "../components/Navbar.vue";
//import router from "../router";

@Component({
  components: { Navbar },
})
export default class Index extends Vue {}
</script>
<style>
#nav-main {
  height: 5.5rem;
}

main {
  width: 100%;
  height: 100%;
  opacity: 1;
  color: white;
}

body {
  background: white !important;
  border: 1px solid #707070;
}
.home {
  height: 100% !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  max-width: 2600px;
  width: 70%;
  min-width: 1161px !important;
}
body {
  height: 100% !important;
}
html {
  height: 100% !important;
}
.logo-container {
  text-align: center;
}
.logo {
  width: 70%;
  margin-bottom: -10%;
}
</style>
