<template>
  <div style="height: 100%">
    <b-navbar toggleable="sm" type="light" variant="faded" id="nav-main">
      <b-navbar-toggle target="nav-text-collapse"></b-navbar-toggle>

      <b-navbar-brand to="/main" class="md-mx-auto" id="mainlogo"
        >Logo</b-navbar-brand
      >

      <b-collapse id="nav-text-collapse" is-nav>
        <b-navbar-nav>
          <!-- <b-nav-text>Navbar text</b-nav-text>-->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-row> </b-row>
    <main style="height: 100%">
      <b-row style="height: 100%">
        <b-col lg></b-col>
        <b-col lg>
          <div style="margin-top:5rem;">
            <router-link
              :class="'buttonType' + computeColors(index)"
              :to="'/category/' + link"
              v-for="(link, index) in predmetyExistujici"
              :key="link"
              >{{ link }}</router-link
            >
          </div></b-col
        >
        <b-col lg style="text-align: center">
          <b-row
            ><b-col>
              <b-button pill class="addbutton" to="/createad"
                >+</b-button
              ></b-col
            ></b-row
          >
          <b-row
            ><b-col><span>Vytvořit inzerát</span></b-col></b-row
          >
        </b-col>
      </b-row>
    </main>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import LZString from "lz-string";
import { UserApi } from "../NetworkManager";
import Ad from "../components/Ad.vue";
import { IAd } from "../Definitionsfornetwork";
@Component({
  components: { Ad },
})
export default class Loggedin extends Vue {
  name = "";
  ads = [] as IAd[];
  file = [] as File[];
  images: string[] = [];
  selected = "" as string;
  price = 0;
  indexOfStyle = 0;

  predmety = [
    "Fyzika",
    "Chemie",
    "Český jazyk",
    "Chemicko-biologická praktika",
    "Dějepis",
    "Fyzikálně-matematická praktika",
    "Anglický jazyk",
    "Geologie",
    "Životní prostředí",
    "Hudební výchova",
    "Informatika",
    "Matematika",
    "Občanská výchova",
    "Tělesná výchova",
    "Výtvarná výchova",
    "Základy společenských věk",
    "Zeměpis",
    "Přírodopis",
    "Ostatní",
  ];
  predmetyExistujici = [] as (
    | "Fyzika"
    | "Chemie"
    | "Český jazyk"
    | "Chemicko-biologická praktika"
    | "Dějepis"
    | "Fyzikálně-matematická praktika"
    | "Anglický jazyk"
    | "Geologie"
    | "Životní prostředí"
    | "Hudební výchova"
    | "Informatika"
    | "Matematika"
    | "Občanská výchova"
    | "Tělesná výchova"
    | "Výtvarná výchova"
    | "Základy společenských věk"
    | "Zeměpis"
    | "Přírodopis"
    | "Ostatní"
  )[];
  description = "";
  state = "";
  computeColors(index: number) {
    if (index >= 4) {
      return index - 4 * Math.floor(index / 4);
    } else {
      return index;
    }
  }
  callback = {} as Function;
  options = [
    { value: "disscutable", text: "smlouvatelná" },
    { value: "static", text: "pevná" },
  ];
  async created() {
    if (this.$store.state.token.length === 0) {
      this.$router.push("/");
    }

    const data = await UserApi.getAllCategories();
    if (data.data !== null) {
      this.predmetyExistujici = data.data;
    } else {
      this.predmetyExistujici = [];
    }

    console.log(this.predmetyExistujici);
  }
  testandrun(index: number) {
    if (index + 1 === this.file.length) this.callback();
  }

  async run() {
    let priceCheck,
      selectedCheck,
      descriptionCheck,
      stateCheck,
      nameCheck,
      imagesCheck = false;
    if (this.name.length > 5) nameCheck = true;
    else alert("short name");

    if (this.price > 0) priceCheck = true;
    else alert("too small price");

    if (this.selected !== "") selectedCheck = true;
    else alert("not selected price Type");

    if (this.description.length > 5) descriptionCheck = true;
    else alert("short description");

    if (this.state.length > 4) stateCheck = true;
    else alert("short state description");

    if (this.images.length > 0) imagesCheck = true;
    else alert("no Images!");

    console.log(this.images.length);
    if (
      priceCheck &&
      descriptionCheck &&
      nameCheck &&
      stateCheck &&
      imagesCheck &&
      selectedCheck
    ) {
      /*await UserApi.getCreateAd(
        this.name,
        this.state,
        this.price,
        this.selected,
        this.description,
        this.images,
      );*/ alert();
    } else {
      alert("ne všechno je v pořádku");
    }
  }
}
</script>
<style scoped>
#nav-main {
  height: 5.5rem;
}
.addbutton {
  font-size: 2.8em;
  font-weight: 700;
  border-radius: 100px !important;
  padding: 0.5em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 3em;
}
.buttonLink {
  font-size: 2vw;
  width: 70%;
  padding: 1.2vw;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 200;
  background-color: #ff5e3d;
  color: white;
  border-radius: 17px !important;
}
#mainlogo {
  top: 31px;
  left: 35px;
  width: 123px;
  height: 76px;
  text-align: left;
  font: italic normal normal 59px/76px Elephant;
  letter-spacing: 0px;
  color: #ff5e3dcf;
  opacity: 1;
}
main {
  width: 100%;
  height: 90%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-top: 1px solid #707070;
  opacity: 1;
  color: black;
}
.home {
  height: 100% !important;
}
.buttonType0 {
  background: transparent linear-gradient(180deg, #e57eae 0%, #7575ec 100%) 0%
    0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.buttonType1 {
  background: transparent linear-gradient(180deg, #7ee1e5 0%, #7575ec 100%) 0%
    0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.buttonType2 {
  background: transparent linear-gradient(180deg, #f2c3a0 0%, #f86c6c 100%) 0%
    0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.buttonType3 {
  background: transparent linear-gradient(180deg, #f9d570 0%, #e88128 100%) 0%
    0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

body {
  height: 100% !important;
}
html {
  height: 100% !important;
}
</style>
