<template>
  <div>
    <navbar></navbar>
    <b-row>
      <b-col sm></b-col>
      <b-col sm>
        <main v-show="category">
          <b-row>
            <ad
              v-for="ad in ads"
              :key="ad.name"
              :title="ad.name"
              :id="ad.id"
              :price="ad.price.price"
              :imageBytes="ad.photos"
              :location="ad.location"
              :detail="ad"
            />
          </b-row>
        </main>
      </b-col>
      <b-col sm> </b-col>
    </b-row>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import LZString from "lz-string";
import { UserApi } from "../NetworkManager";
import Ad from "../components/Ad.vue";
import { IAd } from "../Definitionsfornetwork";
import Navbar from "../components/Navbar.vue";
@Component({
  components: { Ad, Navbar },
})
export default class LoggedinCategory extends Vue {
  name = "";
  ads = [] as IAd[];
  callback = {} as Function;
  options = [
    { value: "disscutable", text: "smlouvatelná" },
    { value: "static", text: "pevná" },
  ];
  @Prop(String) readonly category:
    | "Fyzika"
    | "Chemie"
    | "Český jazyk"
    | "Chemicko-biologická praktika"
    | "Dějepis"
    | "Fyzikálně-matematická praktika"
    | "Anglický jazyk"
    | "Geologie"
    | "Životní prostředí"
    | "Hudební výchova"
    | "Informatika"
    | "Matematika"
    | "Občanská výchova"
    | "Tělesná výchova"
    | "Výtvarná výchova"
    | "Základy společenských věk"
    | "Zeměpis"
    | "Přírodopis"
    | "Ostatní"
    | undefined;
  async created() {


    const data = await UserApi.GetAdsBySubject(this.category!);
    if (data.data !== null) this.ads = data.data;
    else this.ads = [];
    console.log(this.ads);
  }
}
</script>
<style scoped>
#nav-main {
  height: 5.5rem;
}

#mainlogo {
  top: 31px;
  left: 35px;
  width: 123px;
  height: 76px;
  text-align: left;
  font: italic normal normal 59px/76px Elephant;
  letter-spacing: 0px;
  color: #ff5e3dcf;
  opacity: 1;
}
main {
  width: 100%;
  height: 90%;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  color: black;
}
.home {
  height: 100% !important;
}
body {
  height: 100% !important;
}
html {
  height: 100% !important;
}
</style>
