<template>
  <div class="home">
    <b-navbar toggleable="sm" type="light" variant="faded" id="nav-main">
      <b-navbar-toggle target="nav-text-collapse"></b-navbar-toggle>

      <b-navbar-brand class="md-mx-auto" id="mainlogo">Logo</b-navbar-brand>

      <b-collapse id="nav-text-collapse" is-nav>
        <b-navbar-nav>
          <!-- <b-nav-text>Navbar text</b-nav-text>-->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
// @ is an alias to /src<LoginForm></LoginForm>

export default {
  name: "Login",
  components: {},
};
</script>
<style>
#nav-main {
  height: 5.5rem;
}

#mainlogo {
  top: 31px;
  left: 35px;
  width: 123px;
  height: 76px;
  text-align: left;
  font: italic normal normal 59px/76px Elephant;
  letter-spacing: 0px;
  color: #ff5e3dcf;
  opacity: 1;
}
main {
  width: 100%;
  height: 100%;
  opacity: 1;
  color: white;
}
nav {
  background-color: #fff;
}
.home {
  background: #ff5e3d 0% 0% no-repeat padding-box!important;
  border: 1px solid #707070;
}
.home {
  height: 100% !important;
}
body {
  height: 100% !important;
}
html {
  height: 100% !important;
}
</style>
