<template>
    <div class="category-shopping">
        <div class="category-shopping__be489fe7508743d19e7b7348fe9ff090">Kategorie</div>
        <div class="category-shopping__279fea594133481889899ed7ac4a08a5">
            <bottom-navigation- -4-up-="" -surface-color="" />
        </div>
        <div class="category-shopping__zeměpis">Český jazyk</div>
        <div class="category-shopping__zeměpis">Střední škola</div>
        <div class="category-shopping__zeměpis">Vysoká škola</div>
        <div class="category-shopping__zeměpis">Vytvořit inzerát</div>
        <div class="category-shopping__zeměpis">Matematika</div>
        <div class="category-shopping__zeměpis">Anglický jazyk</div>
        <div class="category-shopping__zeměpis">Ruský jazyk</div>
        <div class="category-shopping__zeměpis">Neměcký jazyk</div>
        <div class="category-shopping__57ef5488ff1545d5bcae0e149ae368f0"></div>
        <icon- -search-="" -filled="" />
        <div class="category-shopping__cross"></div>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.category-shopping {
    &__be489fe7508743d19e7b7348fe9ff090 {
        font-family: Source Sans Pro;
        font-size: 21px;
        font-weight: 700;
        color: #110808;
    }

    &__279fea594133481889899ed7ac4a08a5 {
    }

    &__zeměpis {
        font-family: Futura Bk BT;
        font-size: 22px;
        color: #fff;
    }

    &__zeměpis {
        font-family: Source Sans Pro;
        font-size: 15px;
        font-weight: 700;
        color: #000;
    }

    &__zeměpis {
        font-family: Source Sans Pro;
        font-size: 15px;
        color: #000;
    }

    &__zeměpis {
        font-family: Source Sans Pro;
        font-size: 12px;
        color: #000;
    }

    &__zeměpis {
        font-family: Futura Bk BT;
        font-size: 22px;
        color: #fff;
    }

    &__zeměpis {
        font-family: Futura Bk BT;
        font-size: 22px;
        color: #fff;
    }

    &__zeměpis {
        font-family: Futura Bk BT;
        font-size: 22px;
        color: #fff;
    }

    &__zeměpis {
        font-family: Futura Bk BT;
        font-size: 22px;
        color: #fff;
    }

    &__57ef5488ff1545d5bcae0e149ae368f0 {
        width: 357px;
        border-radius: 9px;
        background: #d8f1f6;
    }

    &__cross {
    }
}
</style>
