<template>
    <div class="chat-with-some1">
        <div class="chat-with-some1__154eb740803f4311b3356a95a7bd06a3">
            <bottom-navigation- -4-up-="" -surface-color="" />
        </div>
        <div class="chat-with-some1__e3a1e8f97a64413d921a81382c1bb4e9"></div>
        <div class="chat-with-some1__f6c823ed38824c1e97dd50cebee0226e">Milan Tengler</div>
        <div class="chat-with-some1__742ac75ca37b496cb24b234e51e2a96c">Aktivní </div>
        <div class="chat-with-some1__db4eea5dfa2e4cf689a5c3efd00f35ba"></div>
        <div class="chat-with-some1__27950ac55df247a8a4853748c21eb094"></div>
        <div class="chat-with-some1__b48c6fc6120d4fb79dcb0be7c7dc9942"></div>
        <div class="chat-with-some1__b9015ce3e4a044c7953f2e00e81b06d9"></div>
        <div class="chat-with-some1__4dac64a608154c97bebae3804d75cce9"></div>
        <div class="chat-with-some1__2591e989c502451198a885abab328be3"></div>
        <div class="chat-with-some1__d0aff61a8a644e6096d0538ebb65b134"></div>
        <div class="chat-with-some1__4458d0e56c1b4573b7b33e97e8845987"></div>
        <div class="chat-with-some1__7b80cbf7528441468b98b4ae740f3ee1"></div>
        <div class="chat-with-some1__cross"></div>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.chat-with-some1 {
    &__154eb740803f4311b3356a95a7bd06a3 {
    }

    &__e3a1e8f97a64413d921a81382c1bb4e9 {
        width: 416px;
        background: #ff5e3d;
    }

    &__f6c823ed38824c1e97dd50cebee0226e {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
    }

    &__742ac75ca37b496cb24b234e51e2a96c {
        font-family: Source Sans Pro;
        font-size: 13px;
        color: #fff;
    }

    &__db4eea5dfa2e4cf689a5c3efd00f35ba {
        width: 190px;
        background: #fff;
    }

    &__27950ac55df247a8a4853748c21eb094 {
        width: 190px;
        border-radius: 19px;
        background: #fff;
    }

    &__b48c6fc6120d4fb79dcb0be7c7dc9942 {
        width: 246px;
        border-radius: 19px;
        background: #fff;
    }

    &__b9015ce3e4a044c7953f2e00e81b06d9 {
        width: 185px;
        border-radius: 19px;
        background: #fff;
    }

    &__4dac64a608154c97bebae3804d75cce9 {
        width: 185px;
        border-radius: 19px;
        background: #fff;
    }

    &__2591e989c502451198a885abab328be3 {
        width: 280px;
        border: 1px solid #a1a2a7;
        border-radius: 22px;
        background: #fff;
    }

    &__d0aff61a8a644e6096d0538ebb65b134 {
        width: 190px;
        border-radius: 19px;
        background: linear-gradient(90deg, #f9ca7a 0%, #ff5e3d 100%);
    }

    &__4458d0e56c1b4573b7b33e97e8845987 {
        width: 168px;
        border-radius: 19px;
        background: linear-gradient(90deg, #f9ca7a 0%, #ff5e3d 100%);
    }

    &__7b80cbf7528441468b98b4ae740f3ee1 {
        width: 222px;
        border-radius: 19px;
        background: linear-gradient(90deg, #f9ca7a 0%, #ff5e3d 100%);
    }

    &__cross {
    }
}
</style>
