<template>
    <div class="chats">
        <bottom-navigation- -4-up-="" -surface-color="" />
        <div class="chats__3deab59d23f34aa78b22516dbba5292e">Nedávné chaty</div>
        <div class="chats__21972af2f75d498fb595ce070e4ce252">
            <bottom-navigation- -4-up-="" -surface-color="" />
        </div>
        <div class="chats__72f172b607a944ec91bbc7032dc7ac32"></div>
        <div class="chats__1cad6811194c41b480653199941261d4">Chaty</div>
        <div class="chats__f493b0323063478daa048a0218529ad2">Obchody</div>
        <div class="chats__person-chat">
            <div class="chats__c8f1769700ee435a975349b9a2a95968"></div>
        </div>
        <div class="chats__4e4b2cadb4bf4d94972a58db1486a8b6">
            <div class="chats__c5aee3ee140a445cb578e0a458517006">Milan Tengler</div>
            <div class="chats__012375b781d342b1b13e39e5346fbd43">Ahoj, jak se máš? </div>
            <div class="chats__7441af85c48b414cbc1f67c296c4e2ed">21:50</div>
        </div>
        <div class="chats__73baf823e7f54335b4d6e68ae5343cd6">
            <div class="chats__5cc5eaa7045a4b0099deb1601514dfe5">Dominik Novák</div>
            <div class="chats__c447bc8499ff4feb9c2c677d445e2553">Tak zítra :)</div>
            <div class="chats__424c4aef9baf4212b10edc0ba6a5f474">5:40</div>
            <div class="chats__9ad2338f1ae54d26a554092918795f35">
                <div class="chats__6cf2dfb796da4fd6a0f0940ba1d44804">5</div>
            </div>
        </div>
        <div class="chats__87740202f5a4470dbc871923eddff51b">
            <div class="chats__3cfdfaf1314c4a21aa90a1e7c1864d4b">Daniela Stachová</div>
            <div class="chats__ed7f2444a35544b3b86ab332d9c623fa">Ahoj, jak se máš? </div>
            <div class="chats__57dc7db92f374cbabc67c1703b7e6d10">18: 20</div>
            <div class="chats__ae2233477a6f456996e6bd4d4222e69d">
                <div class="chats__6bf1a8872a9448d2b5c481f0d34e7038">1</div>
            </div>
        </div>
        <div class="chats__7724f680688d4430a10607eec30b14d6">
            <div class="chats__1bd7e1d88395418798b4d11d9c30de5b">Martin Dobrman</div>
            <div class="chats__dc9fb0b0c85443e790274c8b9ca474c2">Ahoj, jak se máš? </div>
            <div class="chats__52cd1519c6df463da902b766c4530ae5">18: 20</div>
            <div class="chats__bfe6d370f2f644e085a7bedc2ca84e80">
                <div class="chats__1e6febd98fbc46d1860437233f453edf">1</div>
            </div>
        </div>
        <div class="chats__c2a11971a29d4e8cb85e2db28a62c446">
            <div class="chats__f4d70cb807054e01b702565e08097e20">Alice Ryšková</div>
            <div class="chats__3e5ca018ce2c49ef915ce37d8375477c">Ahoj, jak se máš? </div>
            <div class="chats__acb3db17e10a4b0ab355619fc753c918">18: 20</div>
            <div class="chats__88e647fad43b45ddb1e6ca074ef71ce7">
                <div class="chats__32c69753f5be4eef9fa9b89fc193555c">1</div>
            </div>
        </div>
        <div class="chats__1caa682e68174015beb76ad9bf44b7fa">
            <div class="chats__499d9d0fa7a943bea3fa3a73117a90df">Eliška Smetanová</div>
            <div class="chats__54e4f46508f64052bf8ae1545bd91d6c">Ahoj, jak se máš? </div>
            <div class="chats__8fba586cff4d42acaa1b70c0c1d7a9ca">18: 20</div>
            <div class="chats__af8c9caa1be44f12bb90dee48e525567">
                <div class="chats__9cbae710d26c4c7b82a596091f71c901">1</div>
            </div>
        </div>
        <div class="chats__5b1e81e1e85749a3a66763b43236db73">
            <div class="chats__7de1b7fc98a4497ba117d983ed6832c9">Daniela Stachová</div>
            <div class="chats__1a5b986056e6467987306ddb21456899">Ahoj, jak se máš? </div>
            <div class="chats__2ac31acfa44e4faa88fd7fa0bbe94b12">18: 20</div>
            <div class="chats__0291e93078b24ad0bc6c58807e619f9b">
                <div class="chats__ebf63228a95a40e8bdf8fc3f26984b9b">1</div>
            </div>
        </div>
        <icon- -search-="" -filled="" />
        <div class="chats__cross"></div>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.chats {
    &__3deab59d23f34aa78b22516dbba5292e {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: 700;
        color: #110808;
    }

    &__21972af2f75d498fb595ce070e4ce252 {
    }

    &__72f172b607a944ec91bbc7032dc7ac32 {
        width: 416px;
        background: #ff5e3d;
    }

    &__1cad6811194c41b480653199941261d4 {
        font-family: Source Sans Pro;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
    }

    &__f493b0323063478daa048a0218529ad2 {
        font-family: Source Sans Pro;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
    }

    &__person-chat {
    }

    &__c8f1769700ee435a975349b9a2a95968 {
        width: 415px;
        background: #fff;
    }

    &__4e4b2cadb4bf4d94972a58db1486a8b6 {
    }

    &__c5aee3ee140a445cb578e0a458517006 {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: 700;
        color: #110808;
    }

    &__012375b781d342b1b13e39e5346fbd43 {
        font-family: Source Sans Pro;
        font-size: 13px;
        color: #110808;
    }

    &__7441af85c48b414cbc1f67c296c4e2ed {
        font-family: Source Sans Pro;
        font-size: 12px;
        color: #110808;
    }

    &__73baf823e7f54335b4d6e68ae5343cd6 {
    }

    &__5cc5eaa7045a4b0099deb1601514dfe5 {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: 700;
        color: #110808;
    }

    &__c447bc8499ff4feb9c2c677d445e2553 {
        font-family: Source Sans Pro;
        font-size: 13px;
        font-weight: 700;
        color: #110808;
    }

    &__424c4aef9baf4212b10edc0ba6a5f474 {
        font-family: Source Sans Pro;
        font-size: 12px;
        color: #110808;
    }

    &__9ad2338f1ae54d26a554092918795f35 {
    }

    &__6cf2dfb796da4fd6a0f0940ba1d44804 {
        font-family: Source Sans Pro;
        font-size: 9px;
        font-weight: 700;
        color: #fff;
    }

    &__87740202f5a4470dbc871923eddff51b {
    }

    &__3cfdfaf1314c4a21aa90a1e7c1864d4b {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: 700;
        color: #110808;
    }

    &__ed7f2444a35544b3b86ab332d9c623fa {
        font-family: Source Sans Pro;
        font-size: 13px;
        font-weight: 700;
        color: #110808;
    }

    &__57dc7db92f374cbabc67c1703b7e6d10 {
        font-family: Source Sans Pro;
        font-size: 12px;
        color: #110808;
    }

    &__ae2233477a6f456996e6bd4d4222e69d {
    }

    &__6bf1a8872a9448d2b5c481f0d34e7038 {
        font-family: Source Sans Pro;
        font-size: 9px;
        font-weight: 700;
        color: #fff;
    }

    &__7724f680688d4430a10607eec30b14d6 {
    }

    &__1bd7e1d88395418798b4d11d9c30de5b {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: 700;
        color: #110808;
    }

    &__dc9fb0b0c85443e790274c8b9ca474c2 {
        font-family: Source Sans Pro;
        font-size: 13px;
        font-weight: 700;
        color: #110808;
    }

    &__52cd1519c6df463da902b766c4530ae5 {
        font-family: Source Sans Pro;
        font-size: 12px;
        color: #110808;
    }

    &__bfe6d370f2f644e085a7bedc2ca84e80 {
    }

    &__1e6febd98fbc46d1860437233f453edf {
        font-family: Source Sans Pro;
        font-size: 9px;
        font-weight: 700;
        color: #fff;
    }

    &__c2a11971a29d4e8cb85e2db28a62c446 {
    }

    &__f4d70cb807054e01b702565e08097e20 {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: 700;
        color: #110808;
    }

    &__3e5ca018ce2c49ef915ce37d8375477c {
        font-family: Source Sans Pro;
        font-size: 13px;
        font-weight: 700;
        color: #110808;
    }

    &__acb3db17e10a4b0ab355619fc753c918 {
        font-family: Source Sans Pro;
        font-size: 12px;
        color: #110808;
    }

    &__88e647fad43b45ddb1e6ca074ef71ce7 {
    }

    &__32c69753f5be4eef9fa9b89fc193555c {
        font-family: Source Sans Pro;
        font-size: 9px;
        font-weight: 700;
        color: #fff;
    }

    &__1caa682e68174015beb76ad9bf44b7fa {
    }

    &__499d9d0fa7a943bea3fa3a73117a90df {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: 700;
        color: #110808;
    }

    &__54e4f46508f64052bf8ae1545bd91d6c {
        font-family: Source Sans Pro;
        font-size: 13px;
        font-weight: 700;
        color: #110808;
    }

    &__8fba586cff4d42acaa1b70c0c1d7a9ca {
        font-family: Source Sans Pro;
        font-size: 12px;
        color: #110808;
    }

    &__af8c9caa1be44f12bb90dee48e525567 {
    }

    &__9cbae710d26c4c7b82a596091f71c901 {
        font-family: Source Sans Pro;
        font-size: 9px;
        font-weight: 700;
        color: #fff;
    }

    &__5b1e81e1e85749a3a66763b43236db73 {
    }

    &__7de1b7fc98a4497ba117d983ed6832c9 {
        font-family: Source Sans Pro;
        font-size: 14px;
        font-weight: 700;
        color: #110808;
    }

    &__1a5b986056e6467987306ddb21456899 {
        font-family: Source Sans Pro;
        font-size: 13px;
        font-weight: 700;
        color: #110808;
    }

    &__2ac31acfa44e4faa88fd7fa0bbe94b12 {
        font-family: Source Sans Pro;
        font-size: 12px;
        color: #110808;
    }

    &__0291e93078b24ad0bc6c58807e619f9b {
    }

    &__ebf63228a95a40e8bdf8fc3f26984b9b {
        font-family: Source Sans Pro;
        font-size: 9px;
        font-weight: 700;
        color: #fff;
    }

    &__cross {
    }
}
</style>
