<template>
    <div class="log-in">
        <div class="log-in__5d83fa161e024c05bf23993d693f7b7f">Zapomněl jsi heslo?</div>
        <div class="log-in__0dcfbe0369d2437f932d9054a717f462">Zapamatuj si</div>
        <div class="log-in__c911180f9fdc4d038e40919b205a41d3">Nemáte účet? Zaregistrujte se!</div>
        <div class="log-in__1d0db00115914b349a7943d3741a7825">
            <div class="log-in__bad3384ae3ab4795ba2515fa292829e9">Přihlásit se</div>
        </div>
        <div class="log-in__4aaebba4def0437fb17d725b77874847">přihlášení</div>
        <div class="log-in__0c1437685d99431fb47953ebee418a6b">
            <div class="log-in__c0d60cac969f4d9e89d22b4ac9e51cb0">
                <div class="log-in__ed968abf990c4d6098bbdc3e190665dc"></div>
            </div>
        </div>
        <text-field- -outlined-="" -unfilled-="" -enabled="" />
        <div class="log-in__uživ-input">
            <icon- -circle-="" -filled="" />
        </div>
        <div class="log-in__button-google">
            <div class="log-in__button---google">
                <div class="log-in__193fb76ff1314dc6b51e97aaed89e360"></div>
                <div class="log-in__8b0667eec9474337b7188413e33ede1e">Přihlaš se s Googlem</div>
            </div>
            <div class="log-in__icons8-google"></div>
        </div>
        <div class="log-in__buton-facebook">
            <div class="log-in__button---facebook">
                <div class="log-in__0afbb7a76cbf41a08c23e5b6b983b6b9"></div>
                <div class="log-in__c0aabff5e2b1480c93187f0ce704ecf3">Přihlaš se s Facebookem
                    <br>
                    <br>
                </div>
            </div>
            <div class="log-in__icons8-facebook"></div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.log-in {
    &__5d83fa161e024c05bf23993d693f7b7f {
        font-family: Futura Bk BT;
        font-size: 14px;
        color: rgba(#fffbfb, 0.71);
    }

    &__0dcfbe0369d2437f932d9054a717f462 {
        font-family: Futura Bk BT;
        font-size: 15px;
        color: rgba(#fffbfb, 0.71);
    }

    &__c911180f9fdc4d038e40919b205a41d3 {
        font-family: Futura Bk BT;
        font-size: 17px;
        color: rgba(#fff, 0.71);
    }

    &__1d0db00115914b349a7943d3741a7825 {
    }

    &__bad3384ae3ab4795ba2515fa292829e9 {
        font-family: Futura Bk BT;
        font-size: 17px;
        color: #514948;
    }

    &__4aaebba4def0437fb17d725b77874847 {
        font-family: Futura Bk BT;
        font-size: 30px;
        font-style: italic;
        color: #f2f2f2;
    }

    &__0c1437685d99431fb47953ebee418a6b {
    }

    &__c0d60cac969f4d9e89d22b4ac9e51cb0 {
    }

    &__ed968abf990c4d6098bbdc3e190665dc {
    }

    &__uživ-input {
    }

    &__button-google {
    }

    &__button---google {
    }

    &__193fb76ff1314dc6b51e97aaed89e360 {
        width: 257px;
        background: #fff;
    }

    &__8b0667eec9474337b7188413e33ede1e {
        font-family: Futura Bk BT;
        font-size: 17px;
        color: #ff5e3d;
    }

    &__icons8-google {
    }

    &__buton-facebook {
    }

    &__button---facebook {
    }

    &__0afbb7a76cbf41a08c23e5b6b983b6b9 {
        width: 257px;
        background: #fff;
    }

    &__c0aabff5e2b1480c93187f0ce704ecf3 {
        font-family: Futura Bk BT;
        font-size: 17px;
        color: #ff5e3d;
    }

    &__icons8-facebook {
    }
}
</style>
