<template>
    <div class="main">
        <div class="main__wallpapper">
            <div class="main__45f89a80f6e34efa9cb2b35c8eac2481"></div>
        </div>
        <div class="main__button---již-máte-účet">
            <div class="main__2ef6b74dfeef471692b7103056a33b72">Již máte účet? Přihlašte se ZDE!
                <br>
            </div>
        </div>
        <div class="main__f99ce6179ecc4890bd6f368fda66a971">iUčebnice</div>
        <div class="main__395d3ad5061542ec8466c8b30d6767d5">Nakupte si učebnice z pohodlí
            <br>             vašeho domova!
        </div>
        <div class="main__button-google">
            <div class="main__button---google">
                <div class="main__b5f5d866645a47279f19705e6d9bc163"></div>
            </div>
            <div class="main__icons8-google"></div>
        </div>
        <div class="main__buton-facebook">
            <div class="main__button---facebook">
                <div class="main__3914a0ccd0fc4200be11cbf7b9effd10"></div>
                <div class="main__c7bb2de25fa541558b5d6655e6ed5fd9">Zaregistruj se s Facebookem
                    <br>
                </div>
                <div class="main__fa458f5afb5f457f823b80108bf7f300">Zaregistruj se s Googlem
                    <br>
                </div>
            </div>
            <div class="main__icons8-facebook"></div>
        </div>
        <div class="main__buton-facebook">
            <div class="main__button---facebook">
                <div class="main__c5834e4923084e55b20836380245f4d1"></div>
                <div class="main__ae436d88f94147dda5f15e8452b95def">Zaregistruj se
                    <br>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.main {
    &__wallpapper {
    }

    &__45f89a80f6e34efa9cb2b35c8eac2481 {
        width: 414px;
        border: 1px solid #707070;
        background: linear-gradient(90deg, #f9ca7a 0%, #ff5e3d 100%);
    }

    &__button---již-máte-účet {
    }

    &__2ef6b74dfeef471692b7103056a33b72 {
        font-family: Futura Bk BT;
        font-size: 17px;
        color: #ffe4de;
    }

    &__f99ce6179ecc4890bd6f368fda66a971 {
        font-family: Corbel;
        font-size: 50px;
        font-weight: 700;
        font-style: italic;
        color: rgba(#fffbfb, 0.81);
    }

    &__395d3ad5061542ec8466c8b30d6767d5 {
        font-family: Corbel;
        font-size: 20px;
        font-weight: 300;
        color: #ececec;
    }

    &__button-google {
    }

    &__button---google {
    }

    &__b5f5d866645a47279f19705e6d9bc163 {
        width: 257px;
        background: #fff;
    }

    &__icons8-google {
    }

    &__buton-facebook {
    }

    &__button---facebook {
    }

    &__3914a0ccd0fc4200be11cbf7b9effd10 {
        width: 257px;
        background: #fff;
    }

    &__c7bb2de25fa541558b5d6655e6ed5fd9 {
        font-family: Futura Bk BT;
        font-size: 17px;
        color: #ff5e3d;
    }

    &__fa458f5afb5f457f823b80108bf7f300 {
        font-family: Futura Bk BT;
        font-size: 17px;
        color: #ff5e3d;
    }

    &__icons8-facebook {
    }

    &__buton-facebook {
    }

    &__button---facebook {
    }

    &__c5834e4923084e55b20836380245f4d1 {
        width: 257px;
        background: #fff;
    }

    &__ae436d88f94147dda5f15e8452b95def {
        font-family: Futura Bk BT;
        font-size: 17px;
        color: #ff5e3d;
    }
}
</style>
