<template>
    <div class="sign-up">
        <div class="sign-up__cbbd7e7dac214790903b7043a410edef">Nemáte účet? Zaregistrujte se!</div>
        <div class="sign-up__ff15029e1cab40cf85ad18b03c18fdfc">
            <div class="sign-up__5886c08541584ebdaa3e2f856b4eb189">Registrovat se</div>
        </div>
        <div class="sign-up__8917c751b0414e7c8572f786d25edf39">registrace</div>
        <text-field- -outlined-="" -unfilled-="" -enabled="" />
        <text-field- -outlined-="" -unfilled-="" -enabled="" />
        <text-field- -outlined-="" -unfilled-="" -enabled="" />
        <div class="sign-up__uživatelské-jméno">Uživatelské jméno</div>
        <div class="sign-up__uživatelské-jméno">Heslo</div>
        <div class="sign-up__uživatelské-jméno">Ročník</div>
        <div class="sign-up__uživatelské-jméno">Škola</div>
        <div class="sign-up__uživatelské-jméno">Město</div>
        <div class="sign-up__e438a43448144d7aafcfd9c8b7a7b5df">
            <div class="sign-up__b82000315e2749f4b3d8aba4cd7b976f"></div>
        </div>
        <icon- -circle-="" -filled="" />
        <div class="sign-up__button---již-máte-účet">
            <div class="sign-up__739c8751669f4a0bb328747cde2038ed">Již máte účet? Přihlašte se ZDE!
                <br>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.sign-up {
    &__cbbd7e7dac214790903b7043a410edef {
        font-family: Lucida Sans Unicode;
        font-size: 17px;
        color: rgba(#fff, 0.71);
    }

    &__ff15029e1cab40cf85ad18b03c18fdfc {
    }

    &__5886c08541584ebdaa3e2f856b4eb189 {
        font-family: Futura Bk BT;
        font-size: 17px;
        color: #fff;
    }

    &__8917c751b0414e7c8572f786d25edf39 {
        font-family: Futura Bk BT;
        font-size: 30px;
        font-style: italic;
        color: #ff5e3d;
    }

    &__uživatelské-jméno {
        font-family: Futura Bk BT;
        font-size: 16px;
        letter-spacing: 0.0095em;
        color: rgba(#000, 0.60);
    }

    &__uživatelské-jméno {
        font-family: Futura Bk BT;
        font-size: 16px;
        letter-spacing: 0.0095em;
        color: rgba(#000, 0.60);
    }

    &__uživatelské-jméno {
        font-family: Futura Bk BT;
        font-size: 16px;
        letter-spacing: 0.0095em;
        color: rgba(#000, 0.60);
    }

    &__uživatelské-jméno {
        font-family: Futura Bk BT;
        font-size: 16px;
        letter-spacing: 0.0095em;
        color: rgba(#000, 0.60);
    }

    &__uživatelské-jméno {
        font-family: Futura Bk BT;
        font-size: 16px;
        letter-spacing: 0.0095em;
        color: rgba(#000, 0.60);
    }

    &__e438a43448144d7aafcfd9c8b7a7b5df {
    }

    &__b82000315e2749f4b3d8aba4cd7b976f {
    }

    &__button---již-máte-účet {
    }

    &__739c8751669f4a0bb328747cde2038ed {
        font-family: Futura Bk BT;
        font-size: 17px;
        color: #000;
    }
}
</style>
