<template>
  <b-col sm>
    <b-card
      :title="title"
      :img-src="'http://'+host+':5000/'+imageBytes[current]"
      img-alt="Image"
      img-top
      tag="article"
      style="max-width: 20rem; text-align: center; font: normal normal bold 24px/31px Source Sans Pro;
letter-spacing: 0px;
color: #000000;
opacity: 0.96;"
      class="mb-2"
    >
      <b-card-body
        style="font: normal normal normal 20px/25px Source Sans Pro;
letter-spacing: 0px;
color: #000000;
opacity: 1; 
padding:1px"
        v-show="imageBytes"
      >


        <b-card-text> {{ price }} Kč, {{ location }} </b-card-text>

        <b-link class="buttonregister" :to="'/ad/' + id" variant="light">Detail</b-link>
      </b-card-body>
    </b-card></b-col
  >
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { IAd } from "../Definitionsfornetwork";

@Component
export default class Ad extends Vue {
  current = 0;
  host = location.hostname;
  nextImage() {
    this.current++;
    if (this.current >= this!.imageBytes!.length) {
      this.current = 0;
    }
  }
  
  @Prop(Number) readonly id: number | undefined;
  @Prop(Array) readonly imageBytes: string[] | undefined;
  @Prop(String) readonly title: string | undefined;
  @Prop(String) readonly price: string | undefined;
  @Prop(String) readonly location: string | undefined;
  @Prop(Object) readonly detail: IAd | undefined;
}
</script>
<style scoped>
.cards_s {
  padding: 0;
}
.buttonregister {
  font-size: 0.8em;
  width: 100%;
  padding: 1em;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 400;
  background: #ff5e3d 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 25px !important;
  display: inline-block;
}
</style>
