<template>
  <div>

  </div>
</template>
<script>
// @ is an alias to /src<LoginForm></LoginForm>

import { Component, Vue } from "vue-property-decorator";
import { UserApi } from "../NetworkManager";

@Component
export default class LoginPage extends Vue {
  username = "";
  password = "";
  done = false;
  type="success";

}
</script>

<style lang="scss" scoped>
.fields {
  text-align: center;
}
.field {
  width: 100% !important;
}
.buttonmargins {
  margin-top: 4vh;
}
.links {
    color:white;
}
#login {
  margin-top: 3vh;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.3vw;
}
.buttonregister {
  font-size: 2vw;
  width: 70%;
  padding: 1.2vw;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 200;
  color: #ff5e3d;
  border-radius: 17px !important;
}
#slogan {
  font-size: 3vw;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 100;
}

//////////////////////////////Input Field
$primary: #0011ff;
$secondary: #fcfcfc;
$white: #fff;
$gray: #ffffff;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  padding: 2px;
  border: 1px solid $gray;
  opacity: 0.5;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -12px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
/* demo */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}
/////////////////////////////////////////////////////////////////////////////end of input
</style>
