<template>
  <b-row class="background">
    <b-col sm="2"></b-col>
    <b-col
      ><div style="margin-top:5rem">
        <b-alert :variant="type" :show="done">{{ text }}</b-alert>
        <b-row>
          <b-col id="slogan" sm>Přihlášení</b-col>
        </b-row>
        <b-row class="buttonmargins">
          <b-col class="fields" sm>
            <div class="form__group field">
              <input
                type="input"
                class="form__field"
                placeholder="Name"
                name="name"
                id="name"
                v-model="username"
                required
              />
              <label for="name" style="margin:4px" class="form__label"
                >Uživatelské jméno</label
              >
            </div>
          </b-col>
        </b-row>
        <b-row style="margin-top: 1vw">
          <b-col class="fields" sm>
            <div class="form__group field">
              <input
                type="password"
                class="form__field"
                placeholder="Password"
                name="Password"
                id="Password"
                v-model="password"
                required
              />
              <label for="Password" style="margin:4px" class="form__label"
                >Heslo</label
              >
            </div>
          </b-col>
        </b-row>
        <b-row class="buttonmargins" style="text-align:center">
          <b-col sm
            ><b-button
              :disabled="!ValidateInput"
              class="buttonregister"
              variant="light"
              @click="login"
              >Přihlaš se</b-button
            ></b-col
          >
        </b-row>

        <b-row>
          <b-col id="login" sm
            ><router-link class="links" to="/"
              >Nemáš účet? Zaregistruj se ZDE!</router-link
            ></b-col
          >
        </b-row>
      </div>
    </b-col>
    <b-col sm="2"></b-col>
  </b-row>
</template>
<script>
// @ is an alias to /src<LoginForm></LoginForm>

import { Component, Vue } from "vue-property-decorator";
import { UserApi } from "../NetworkManager";

@Component
export default class LoginPage extends Vue {
  username = "";
  password = "";
  done = false;
  type = "success";
  text = "";
  async created() {
    const input = document.getElementsByTagName("body")[0];

    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keyup", async (event)=>{
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        await this.login();
      }
    });
  }
  get ValidateInput() {
    this.done = false;

    return this.username.length > 5 && this.password.length > 5;
  }
  async login() {
    const result = await UserApi.getLogin(this.username, this.password);
    if (result.error === null && result.data !== null) {
      this.done = true;
      this.text = "Přihlášeno!";
      this.type = "success";
      this.$store.commit("setToken", result.data);
      this.$router.push("/main");
    } else {
      this.done = true;
      this.text = "Špatné heslo nebo email!";
      this.type = "danger";
    }
  }
}
</script>

<style lang="scss" scoped>
.fields {
  text-align: center;
}
.field {
  width: 100% !important;
}
.buttonmargins {
  margin-top: 2vh;
}
.links {
  color: white;
}
#login {
  margin-top: 3vh;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.3vw;
}
.buttonregister {
  font-size: 1.5vw;
  width: 70%;
  padding: 1.2vw;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 200;
  color: #ff5e3d;
  border-radius: 17px !important;
}
.background{
  background: transparent linear-gradient(180deg, #FF5E3D 0%, #FFEFA1 100%) 0% 0% no-repeat padding-box!important;
}
#slogan {
  font-size: 3vw;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 100;
}

//////////////////////////////Input Field
$primary: #0011ff;
$secondary: #fcfcfc;
$white: #fff;
$gray: #ffffff;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  padding: 2px;
  border: 1px solid $gray;
  opacity: 0.5;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -12px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
/* demo */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}

/////////////////////////////////////////////////////////////////////////////end of input
</style>
