<template>
  <b-navbar variant="faded" class="custom-navbar" type="light">
    <b-navbar-brand class="custom-brand">
      <img class="logo" :src="require('../assets/logo.png')" alt="Logo" />
      <span class="custom-brand-text" href="#">STUD.IT</span>
    </b-navbar-brand>
    <b-nav-form class="ml-auto" style="text-align: right;">
      <b-form-input
        size="sm"
        class="mr-sm-2"
        placeholder="Search"
      ></b-form-input>
      <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
    </b-nav-form>
    <b-navbar-nav>
      <b-nav-item class="link-custom" href="#">Košík</b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>
<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class Navbar extends Vue {
  search = "";
}
</script>
<style scoped>
.mainlogo {
  width: 100%;
}
.custom-navbar {
  line-height: 6em;
  height: 7em;
}
.custom-brand-text {
  text-align: left;
  font-size: 2em;
  color: #ff8a72;
  text-transform: uppercase;
}
.logo {
  height: 6em;
  width: 6em;
  margin-top: -1em;
}
.custom-brand {
  line-height: 6em;
}
.link-custom {
  text-align: left;
  font: normal normal bold 20px/27px Arial;
  letter-spacing: 0px;
  color: #454545;
  text-transform: capitalize;
  opacity: 1;
}
</style>
