<template>
  <div style="left:32%;position:absolute; width:36%;margin-top:5rem">
    <b-alert :variant="type" :show="done">{{ text }}</b-alert>
    <b-row>
      <b-col id="slogan" sm>Registrace</b-col>
    </b-row>
    <b-row class="buttonmargins">
      <b-col class="fields" sm>
        <div class="form__group field">
          <input
            type="input"
            class="form__field"
            placeholder="Name"
            name="name"
            id="name"
            v-model="username"
            required
          />
          <label for="name" style="margin:4px" class="form__label"
            >Uživatelské jméno</label
          >
        </div>
      </b-col>
    </b-row>
    <b-row class="buttonmargins">
      <b-col class="fields" sm>
        <div class="form__group field">
          <input
            type="email"
            class="form__field"
            placeholder="email"
            name="email"
            id="email"
            v-model="email"
            required
          />
          <label for="email" style="margin:4px" class="form__label"
            >Email</label
          >
        </div>
      </b-col>
    </b-row>
    <b-row style="margin-top: 1vw">
      <b-col class="fields" sm>
        <div class="form__group field">
          <input
            type="password"
            class="form__field"
            placeholder="Password"
            name="Password"
            id="Password"
            v-model="password"
            required
          />
          <label for="Password" style="margin:4px" class="form__label"
            >Heslo</label
          >
        </div>
      </b-col>
    </b-row>
    <b-row style="margin-top: 1vw">
      <b-col class="fields" sm>
        <div class="form__group field">
          <input
            type="password"
            class="form__field"
            placeholder="PasswordAgain"
            name="PasswordAgain"
            id="PasswordAgain"
            v-model="passwordagain"
            required
          />
          <label for="PasswordAgain" style="margin:4px" class="form__label"
            >Heslo znovu</label
          >
        </div>
      </b-col>
    </b-row>
    <b-row class="buttonmargins" style="text-align:center">
      <b-col sm
        ><b-button
          :disabled="!ValidateInput"
          class="buttonregister"
          variant="light"
          @click="register"
          >Přihlaš se</b-button
        ></b-col
      >
    </b-row>

    <b-row>
      <b-col id="login" sm
        ><router-link class="links" to="/login"
          >Již máte účet? Přihlaste se ZDE!</router-link
        ></b-col
      >
    </b-row>
  </div>
</template>
<script>
// @ is an alias to /src<LoginForm></LoginForm>

import { Component, Vue } from "vue-property-decorator";
import { UserApi } from "../NetworkManager";

@Component
export default class RegisterPage extends Vue {
  username = "";
  passwordagain = "";
  password = "";
  email = "@";
  done = false;
  type = "success";
  text = "";
  get ValidateInput() {
    this.done = false;
    return (
      this.username.length > 5 &&
      this.password.length > 5 &&
      this.passwordagain === this.password &&
      this.ValidateEmail(this.email)
    );
  }
  async register() {
    const result = await UserApi.getRegister(
      this.username,
      this.email,
      this.password
    );
    this.done = true;
    if (result.error === null && result.data !== null) {
      this.type = "success";
      this.text = "You are registred!!! Now you can login";
    } else {
      this.type = "danger";
      this.text = result.error.response.data;
    }
  }
  created() {
    document.getElementsByTagName("main")[0].style.backgroundColor = "white";
  }
  updated() {
    document.getElementsByTagName("main")[0].style.backgroundColor = "white";
  }
  beforeUpdate() {
    document.getElementsByTagName("main")[0].style.backgroundColor = "white";
  }
  mounted() {
    document.getElementsByTagName("main")[0].style.backgroundColor = "white";
  }

  beforeDestroy() {
    document.getElementsByTagName("main")[0].style.backgroundColor = "#ff5e3d";
  }
  ValidateEmail(mail) {
    if (/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
      return true;
    }
    return false;
  }
}
</script>

<style lang="scss" scoped>
.fields {
  text-align: center;
}

.field {
  width: 100% !important;
}
.buttonmargins {
  margin-top: 4vh;
}
.links {
  color: black;
}
#login {
  margin-top: 3vh;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.3vw;
}
.buttonregister {
  font-size: 2vw;
  width: 70%;
  padding: 1.2vw;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 200;
  background-color: #ff5e3d;
  color: white;
  border-radius: 17px !important;
}
#slogan {
  font-size: 3vw;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 100;
  color: #ff5e3d;
}

//////////////////////////////Input Field
$primary: #1f1f1f;
$secondary: #0e0b0b;
$white: rgb(0, 0, 0);
$gray: #303030;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  padding: 2px;
  border: 1px solid $gray;
  opacity: 0.5;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -12px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
/* demo */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}
/////////////////////////////////////////////////////////////////////////////end of input
</style>
