<template>
  <b-row class="background">
    <b-col md="2"></b-col>
    <b-col lg>
      <div style="margin-top:1rem">
        <b-row>
          <b-col id="slogan" sm
            >Nakupte si učebnice z pohodlí vašeho domova</b-col
          >
        </b-row>
        <b-row class="buttonmargins">
          <b-col sm
            ><b-button class="buttonregister" variant="light" disabled
              ><img
                style="text-align: left; float: left"
                src="https://img.icons8.com/cute-clipart/64/000000/google-logo.png"
                width="40px"
              />Zaregistruj se s Google</b-button
            ></b-col
          >
        </b-row>
        <b-row class="buttonmargins">
          <b-col sm
            ><b-button class="buttonregister" variant="light" disabled
              ><img
                style="text-align: left; float: left"
                src="https://img.icons8.com/fluent/48/000000/facebook-new.png"
                width="40px"
              />Zaregistruj se s Facebook</b-button
            ></b-col
          >
        </b-row>
        <b-row class="buttonmargins">
          <b-col sm
            ><b-button class="buttonregister" variant="light"
              ><router-link class="links2" to="/register"
                >Zaregistruj se u nás</router-link
              ></b-button
            ></b-col
          >
        </b-row>
        <b-row>
          <b-col id="login" sm
            ><router-link class="links" to="/login"
              >Již máte účet? Přihlaste se ZDE!</router-link
            ></b-col
          >
        </b-row>
      </div>
    </b-col>
    <b-col md="2"></b-col>
  </b-row>
</template>
<script>
// @ is an alias to /src<LoginForm></LoginForm>

import { Component, Vue } from "vue-property-decorator";

@Component
export default class SignPost extends Vue {}
</script>

<style lang="scss" scoped>
.buttonmargins {
  margin-top: 2vh;
}
#login {
  margin-top: 3vh;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.3em;
}
.links2 {
  color: #ff5e3d;
}
.links {
  color: white;
}
.buttonregister {
  font-size: 1.5em;
  width: 100%;
  padding: 1em;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 200;
  color: #ff5e3d;
  border-radius: 1em !important;
}
#slogan {
  font-size: 2em;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;
  text-align: center;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .buttonregister {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }
}
.background {
  margin: 0;
  background: transparent linear-gradient(180deg, #ff5e3d 0%, #ffefa1 100%) 0%
    0% no-repeat padding-box !important;
}

@media screen and (max-aspect-ratio: 5/3) {
  .buttonregister {
    font-size: 1.7em !important;
    width: 100%;
    padding: 1.2vw;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
      "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
      "Verdana Ref", sans-serif;
    text-align: center;
    font-weight: 200;
    color: #ff5e3d;
    border-radius: 17px !important;
  }
  #slogan {
    font-size: 1.9em !important;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
      "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
      "Verdana Ref", sans-serif;
    text-align: center;
    font-weight: 100;
  }
}
</style>
